<!-- ESQUERDA -->
<div id="left">

    <div class="block">
        <div>
            <label>Consultas Ant.</label>
            <select name="consultAnterior" class="M seletor">
                <option value=""></option>
                {{#each respostas}}
                <option value="{{key}}" {{selected key ../consultAnterior}}>{{value}}</option>
                {{/each}}
            </select>

        </div>
        <div>
            <label>Quando</label>
            <input type="text" name="dataConsultaAnterior" value="{{dataConsultaAnterior}}" maxlength="10" class="M" filter="data"  />
        </div>
    </div>

    <div class="block">
        <label>Motivo da Procura</label>
        <textarea name="motivoProcura" class="M">{{motivoProcura}}</textarea>
    </div>

    <div class="block">
        <label>Histórico da Queixa</label>
        <textarea name="historicoQueixa" class="M">{{historicoQueixa}}</textarea>
    </div>

    <div class="block">
        <label>Religião</label>
        <select name="religiao" class="M">
            <option value=""></option>
            {{#each religioes}}
            <option value="{{key}}" {{selected key ../religiao}}>{{value}}</option>
            {{/each}}
        </select>
    </div>

    <div class="block">
        <label>Genetograma</label>
        <textarea name="genetograma" maxlength="500" class="M">{{genetograma}}</textarea>
    </div>
</div>

<!-- DIREITA -->
<div id="right">
    <div class="divTop">
        <div class="content">
            <div class="divL">
                <div class="block">
                    <label>Dinâmica Familiar</label>
                    <textarea name="dinamicaFamiliar" maxlength="500" class="M">{{dinamicaFamiliar}}</textarea>
                </div>

                <div class="block">
                    <label>Dinâmica Social</label>
                    <textarea name="dinamicaSocial" maxlength="500" class="M">{{dinamicaSocial}}</textarea>
                </div>

                <div class="block">
                    <label>Dinâmica Ecolar/Profissional</label>
                    <textarea name="dinamicaEscolarProfissional" maxlength="500" class="M">{{dinamicaEscolarProfissional}}</textarea>
                </div>
            </div>
            <div class="divR">
                <div class="block">
                    <label>Hist. Doenças Crônicas</label>
                    <div>
                        <select name="historicoDoenca" class="P">
                            <option value=""></option>
                            {{#each respostas}}
                            <option value="{{key}}" {{selected key ../historicoDoenca}}>{{value}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div>
                        <textarea name="historicoDoencaDetalhe" maxlength="500" class="P">{{historicoDoencaDetalhe}}</textarea>
                    </div>
                </div>
                <div class="block">
                    <label>Avaliação Primária</label>
                    <textarea name="avaliacaoPrima" maxlength="500" class="M">{{avaliacaoPrima}}</textarea>
                </div>
            </div>
        </div>
    </div>

    {{!-- <button type="submit" class="btnAzul">SALVAR</button>
    <a class="btnAzul" href="/">CANCELAR</a>
    <a id="previous" class="btnAzul">ANTERIOR</a> --}}
</div>